 @charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

 :root {
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
 }
 * {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
 }

 html, body {
    min-height: 100vh; /* 100% ou 100vh - O tamanho minimo do corpo*/
    background-color: darkgrey;
    font-family: var(--font1);
 }

 header {
    background-color: black;
    color: white;
    text-align: center;
 }

 header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Deixar  a maiusculo com p letra maior*/
    font-family: var(--font2);
    font-size: 10vw; /*letra acpmpanha o tamanho da tela*/
 }

 header > p {
    padding-bottom: 50px;
 }

 header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }

 header a:hover, footer a:hover {
    text-decoration: underline;
 }

 section { /* Para fazer o efeito paralaxe*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Espaçamento*/
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
 }
section > p {
    padding-bottom: 2em;
}
 section.normal {
    background-color: white;
    color: black;
 }

 section.imagem {
    background-color:rgb(56, 56, 56) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493); /*dar a impressão
 que a folha brnca estar por cima das imagens*/
    background-size: cover;
    background-attachment: fixed; /*Fixa a imagem - Paralaxe*/

 }

 section.imagem > p {
    display: inline-block; /*A Caixa vai acompanhar o tamanho do conteúdo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.438); 
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url('../desafio012/imagens/background001.jpg');
    background-position: right center;
    
}  

section#img02 {
    background-image: url('../desafio012/imagens/background002.jpg');
    
}

 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
 }